@font-face {
	font-family: 'BigJohn';
	src:url('../fonts/webfontkit-20170917-080627/big_john-webfont.woff')
}
@font-face {
	font-family: 'Slimjoe';
	src:url('../fonts/webfontkit-20170917-081017/slim_joe-webfont.woff')
}

html, body{
	width: 100%;

}



/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}



/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
.ba-header {
	position: relative;
	width: 100%;
	height: 100%;
}
.ba-header img {
	height: 650px;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
}
.ba-header .bg {
	width: 100%;
	height: 100%;
	background-color: #3c4955;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	opacity: 0.86;
}
.logo {
	z-index: 999;
}
.logo img {
	height: 100px;
	width: 174px;
}
.conteiner {
	width: 1140px;
	height: 650px;
	margin: 0 auto;
	position: relative;
}
.main-menu {
	position: absolute;
	height: 99px;
  	width: 100%;
  	top: 35px;
}
.main-menu ul {
	display: flex;
  	list-style: none;
  	margin: 0px;
  	padding-left: 49px;
  	padding-right: 49px;
  	padding-top: 44px;
  	flex-wrap: nowrap;
  	justify-content: flex-end;
  	align-content: center;
}
.main-menu a {
  	display: block;
  	text-decoration: none;
	text-align: center; 
	font-family: 'Lato', sans-serif;
	color:  #ffffff;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
}
.main-menu li {
	padding-left: 40px;
	font-family: 'Lato', sans-serif;
	color:  #5d666e;
	font-size: 16px;
	font-weight: 700;
}
.menu {
	height: 99px;
}
.ba-conteiner-text {
	position: absolute;
	text-align: center;
	width: 100%;
	top: 290px;
}
.text1 {
	font-family:  'BigJohn','Raleway', sans-serif;
	color:  #ffffff;
	font-size: 46px;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 0px;
    margin-bottom: 0px;
}
.text2 {
	font-family: 'Slimjoe','Raleway', sans-serif;
	color:  #ffffff;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;	
}
.vr-submit {
	cursor: pointer;
	position: absolute;
	left: 510px;
	width: 135px;
	height: 35px;
	border: 2px	solid #48bf72;
	background: none;
	color:  #48bf72;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-transition: background .55s ease;
	-moz-transition: background .55s ease;
	-ms-transition: background .55s ease;
	-o-transition: background .55s ease;
	transition: background .55s ease;
	font-family: 'Lato', sans-serif;
	letter-spacing: 1.5px;
}
.ba-conteiner-text button#submit:hover, .ba-conteiner-text button#submit:focus, .ba-conteiner-text button#submit:active {
	outline:none;
	opacity: .7;
}
.main-menu a:hover {
	opacity: .7;
}
.ba-portfolio {
	position: relative;
	width: 1140px;
	height: 1056px;
	margin: 0 auto;	
}
.ba-portfolio-menu {
	position: absolute;
	width: 100%;
	top: 56px;
}
.ba-portfolio-menu ul{
	margin: 0 auto;
	padding: 0;
	display: flex;
  	list-style: none;
  	flex-wrap: nowrap;
  	justify-content: center;
  	align-content: center;
}
.ba-portfolio-menu a {
	margin-right: 5px;
	margin-left: 5px;
	display: block;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
  	text-decoration: none;
	text-align: center; 
	font-family: 'Lato', sans-serif;
	color:  #3c4955;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	background: #eaeaea;
	border-radius: 2px;
	border: 2px	solid #eaeaea; 	
}
.ba-portfolio-menu a:hover {
	background: #48bf72;
	color: #ffffff;
	border-radius: 2px;
	border: 2px	solid #48bf72;
}
.ba-items {
	position: absolute;
	width: 100%;
	top: 140px
}
.ba-items ul{
	margin: 0;
	padding: 0;
	display: flex;
  	list-style: none;
  	flex-direction: column;
  	flex-wrap: wrap;
  	height: 900px
}
.ba-items li {
	margin: 0;
	padding-right: 40px;
	padding-bottom: 40px;
}
.portfolio-item {
	border-radius: 5px;
	display: inline-block;
	top: 0px;
	position: relative;
	float: left;
}
.portfolio-item .item_d {
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	position: absolute;
	display: none;
	flex-direction: column;
	justify-content: center;
	background: rgba(72,191,114,0.9);
	width: 100%;
	height: 100%;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
 }
 .portfolio-item:hover > .item_d {
 	display: flex;
 }
 .item_d h2 {
 	font-family: Lato;
	color:  #ffffff;
	font-size: 30px;
	font-weight: 700;
	margin: 0;
 }
 .item_d p {
 	font-family: Lato;
	color:  #ffffff;
	font-size: 16px;
	font-weight: 400;
 }
 .about {
 	position: relative;
 	width: 100%;
 }
 .about img {
 	position: absolute;
 	width: 100%;
 	height: 500px;
 }
.about-conteiner {
	width: 1140px;
	margin: 0 auto;
	position: relative;
}
.text-about {
	position: absolute;
	width: 416px;
	top: 90px;
	left: 590px;
}
.text-about h2 {
	font-family: Lato;
	color:  #ffffff;
	font-size: 30px;
	font-weight: 700;
	text-align: left;
	margin: 0;
	padding: 0;
}
.text-about h3 {
	font-family: Lato;
	color:  #ffffff;
	font-size: 22px;
	font-weight: 400;
	text-align: left;
	margin: 0;
	padding: 0;
}
.text-about p {
	font-family: Lato;
	color:  #ffffff;
	font-size: 16px;
	font-weight: 400;
	text-align: left;
	line-height: 25px;
	margin: 0;
	padding-top: 38px;
	padding-bottom: 38px;
	word-wrap: break-word;
}
.vr-submit-2 {
	cursor: pointer;
	position: absolute;
	width: 148px;
	height: 35px;
	border: 2px	solid #3c4955;
	background: none;
	color:  #3c4955;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	-webkit-transition: background .55s ease;
	-moz-transition: background .55s ease;
	-ms-transition: background .55s ease;
	-o-transition: background .55s ease;
	transition: background .55s ease;
	font-family: 'Lato', sans-serif;
	letter-spacing: 1.2px;
}
.text-about button#submit2:hover, .text-about button#submit2:focus, .text-about button#submit2:active {
	outline:none;
	opacity: .7;
}
.contacter-conteiner {
	width: 1140px;
	margin: 0 auto;
	position: relative;
	top: 500px;
}
.contacter {
	position: absolute;
	width: 100%;
	height: 570px;
}
.contacter h2 {
	text-align: center;
	font-family: BigJohn;
	color:  #48bf72;
	font-size: 26px;
	font-weight: 400;
	line-height: 25px;
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 50px;
}
.contacter-box1-conteiner {
	overflow: hidden;
	vertical-align: middle;
	white-space: nowrap;
	position: absolute;
	left: 220px;
    top: 125px;
}
.contacter-form1-conteiner input#search1 {
	width:calc(331px - 66px);
	height: 46px;
	background: #f1f1f1;
	border: 2px solid #3c4955;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	color:  #a6a5a5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding-left: 66px;
}
.contacter-form1-conteiner .icon{
	position: absolute;
	z-index: 1;
	cursor: pointer;
	color:  #ffffff;
	width:  56px;
	height:  48px;
	border: none;
	padding:  0;
	left:  1px;
	top:  2px;
	background: url('../img/input.png');
}
.fa {
	top: 8px;
	padding-right: 5px;
	color: #fff;
 }
.contacter-box2-conteiner {
	overflow: hidden;
	vertical-align: middle;
	white-space: nowrap;
	position: absolute;
	left: 580px;
    top: 125px;
}
.contacter-form2-conteiner input#search2 {
	width:calc(331px - 66px);
	height: 46px;
	background: #f1f1f1;
	border: 2px solid #3c4955;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	color:  #a6a5a5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding-left: 66px;
}
.contacter-form2-conteiner .icon{
	position: absolute;
	z-index: 1;
	cursor: pointer;
	color:  #ffffff;
	width:  56px;
	height:  48px;
	border: none;
	padding:  0;
	left:  1px;
	top:  2px;
	background: url('../img/input.png');
}
.contacter-box3-conteiner {
	overflow: hidden;
	vertical-align: middle;
	white-space: nowrap;
	position: absolute;
	left: 220px;
    top: 200px;
}
.contacter-form3-conteiner input#search3 {
	width:calc(690px - 66px);
	height: 220px;
	background: #f1f1f1;
	border: 2px solid #3c4955;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	color:  #a6a5a5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding-left: 66px;
	vertical-align: top;
}
.contacter-form3-conteiner .icon1{
	position: absolute;
	z-index: 1;
	cursor: pointer;
	color:  #ffffff;
	width:  56px;
	height:  223px;
	border: none;
	padding:  0;
	left:  1px;
	top:  2px;
	background: url('../img/arrow.png');
}
.vr-submit-3 {
	cursor: pointer;
	position: absolute;
	width: 695px;
	height: 50px;
	border: none;
	background: #48bf72;
	color:  #fff;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	-webkit-transition: background .55s ease;
	-moz-transition: background .55s ease;
	-ms-transition: background .55s ease;
	-o-transition: background .55s ease;
	transition: background .55s ease;
	font-family: 'Lato', sans-serif;
	letter-spacing: 1.5px;
	padding: 0;
	top: 450px;
	left: 220px;
}
.contacter button#submit3:hover, .contacter button#submit3:focus, .contacter button#submit3:active {
	outline:none;
	opacity: .7;
}
.ba-footer {
	width: 100%;
	background: #3c4955;
	margin-top:  1065px;
	height: 200px;
}
.footer-conteiner {
	margin: 0 auto;
	width: 1140px;
	position: relative;
	height: 100%;
}
.copi {
	position: absolute;
	float: left;
	height: 100%;
}
.copi p {
	margin-top: 90px;
    margin-bottom: 90px;
    font-family: Lato;
	color:  #ffffff;
	font-size: 16px;
	font-weight: 400;
}
.social {
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
}
.social a {
	width: 49px;
	height: 55px;
	text-align: center;
	margin-left: 40px;
	cursor: pointer;
}
.social i {
	padding: 0;
	margin-top: 19px;
}
#twiter {
	background: url('../img/polygon.png');
}
#link {
	background: url('../img/polygon2.png');
}
#drible {
	background: url('../img/polygon3.png');
}
#behance {
	background: url('../img/polygon4.png');
}
.social a:hover {
	opacity: .7;
}